*{
	margin: 0;
	padding: 0;
	font-family: Script typeface;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../d.jpg.jpg);
	height: 100vh; 
	background-size: cover;
	background-position: center;
	
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 25px;
}

ul li 
{
display: inline-block;

}

ul li a{
	text-decoration: none;
	color: yellow;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: white;
	color: black;
}

.logo img{
	float: left;
	width: 150;
	height: auto;
	
}
.main{
		max-width: 1200px;
		margin: auto;
}
.title{
	position: absolute;
	top: 35%;
	left: 20%;
    tranfrom: translate(-50%,-50%);
	}
.title h1{
	color: yellow;
    font-size: 70px;
}

.button{
	position: absolute;
	top: 55%;
	left: 38%;
    tranfrom: translate(-50%,-50%);
}
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: yellow;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: white;
	color: black;
}


